
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Python IMG convertion.iml
__pycache__/module.cpython-310.pyc
__pycache__/main.cpython-310.pyc
.idea/.name
.idea/vcs.xml
